services:
  phploy:
    build:
      context: .
      dockerfile: Dockerfile.phploy
    container_name: ddev-${DDEV_PROJECT}-phploy
    volumes:
      - ..:/var/www/html
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /var/www/html
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: ${DDEV_APPROOT}

